* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


a {
  text-decoration: none;
  cursor: pointer;
}


nav,
ul {
  list-style: none;
}


.carac .grid h3 {
  font-size: 2rem;
  color: #82fa7e;
  padding: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.carac .grid p {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  padding: 10px 1%;
}


.carac .grid i {
  font-size: 3rem;
  color: #c3c63b;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  position: absolute;
  display: flex;
  padding: 50px 50px;
  background-color: #fff;
}


.container li.menu-item {
  font-size: 30px;
}


.container nav,
.container ul {
  display: flex;
  flex: 1;
  justify-content: center;
}

.container li a {
  color: #191c03;
}

.container li {
  margin: 0 50px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px; 
}


.grid article {
    background-color: #002800;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}


.home{
  background-image: url(img/adam-smigielski-SWa6EYLCac0-unsplash.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.home h1,
.home h2 {
    color: #fff;
    margin-top: 50px;
}


.home h1 {
    font-size: 7.2rem;
}


.home h2 {
    font-size: 4.5rem;
}


.home .button {
    background-color: #fff;
    border-radius: 4px;
    color: #191c03;
    padding: 10px 50px;
    margin-top: 50px;
    text-transform: uppercase;
}


.images li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px; 
}


.the-amazon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}


.the-amazon h2 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #191c03;
  text-align: center;
}


.the-amazon p {
  max-width: 800px;
  margin-bottom: 35px;
  color: #191c03;
  text-align: center;
}


.the-amazon hr {
  width: 600px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;
}


.the-amazon .grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-gap: 20px;
}


.the-amazon .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-position: center;
}

footer {
  display: flex;
  padding: 12px;
}












