/* Specific styles for gallery.html */
h1 {
    color: #0000ff;
}

    figcaption {
    font-style: italic;
}

  /* Override generic style for footer */
    footer {
    background-color: #ddd;
    color: #555;
}