h1 {
    font-family: 'Barrio';font-size: 30px;    
    color: blue;
}

body {
    background-color: red;
    
}

.tab{
    border: none;
    padding-left: 80%;
    transition: 0.3s;
    background-color: aqua;
    padding-top: 6px;
    padding-bottom: 8px;
}

footer {
    padding-top: 70%;
}

.leading-photo {
    padding: 100px 1px 1px 4px;
}