header {
    text-align: center;
}

#nav-bar {

}

body {
    background-image: url("Dolly2_Feature.jpg");
    opacity: 0.8;
    background-position-x: right;
    color: #E1DCE0;
}

.highlight-top {
    width: 500px;
    background-color: white;
    color: grey;
    padding: 50 px;
    margin: 20px;
}

.highlight-mid {
    width: 650px;
    border: px white;
    padding: 50 px;
    margin: 20px;
}

.highlight-bottom {
    width: 500px;
    border: px white;
    padding: 50 px;
    margin: 20px;
}

nav ul li a:link,
nav ul li a:visited {
    color: #645c9f;
}

nav ul li a:hover,
nav ul li a:active {
    color: #fff;
}

nav ul li a.visit {
    background-color: #2911db;
    color: #fff;
}

footer {
    text-align: center;
}