* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

div{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    border: 10px solid darkseagreen;
    background-color: mintcream;
}

img{
    object-fit: cover;
    width: 100%;
    height: 95%;
}

/* Naviagation Panel */
nav,
ul {
    list-style: none;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background-color: lightyellow;
}

.container li.menu-item {
    font-size: 30px;
    box-sizing: border-box;
}

.container nav,
.container ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
    width: 100%;
    list-style: none;
}

.container li a {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 5px;
    height: fit-content;
    color: forestgreen;
    background-color: burlywood;
    border: 10px mintcream dotted;
    text-shadow: 2px 2px lavenderblush;
    text-decoration: none;
    

}

.container li a:hover {
    background-color: hotpink;
}

.container li {
    margin: 50px;
}


/* Gallery Panel */
.home {
    width: 100%;
    height: 300%;
    /* font-display: auto; */
    font-size: 50px;
    text-align: stretch;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.home h1 {
    text-align: center;
    font-size: 75px;
    color: white;
    background-color: darkseagreen;
    border: 15px darkgreen groove;
    text-shadow: -10px 5px forestgreen,
                -20px 10px darkgreen,
                -30px 15px black;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-gap: 20px; 
    background-color:lightyellow;
    color: black;
    font-size: 5px;
}

/* .grid-item {
    height: 75%;
} */

.grid-item, em {
    font-size: 10px;
}
/* .grid-item {   
} */

.grid-item:hover {
    border-color: lime;
    color: yellowgreen;
    box-shadow: -10px 5px forestgreen;
}

.grid-item, em {
    margin: 0px 0px;
}

.contact {
    color: forestgreen;
    background-color: lightyellow;
    font-display: auto;
    width: 100%;
    height: 300%;
    font-size: 20px;
    text-align: stretch;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contact ul, li {
    font-display: auto;
    text-align: stretch;
    justify-content: center;
}

.contact h1 {
    display: flex;
    font-size: 45px;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px hotpink;
    background-color: burlywood;
}

.contact h2 {
    font-size: 25px;
    justify-content: center;
    text-align: center;
}

.contact li, p {
    font-size: 15px;
    justify-content: center;
    text-align: center;
}

.contact p1{
    text-decoration: 1px forestgreen underline;
}

.contact p1:hover {
    color: hotpink;
    text-decoration: 1px hotpink underline;
}

footer {
    display: flex;
    padding: 12px;
    font-size: 5px;
    background-color: lightyellow;
}