@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.fact {
    grid-row: span 1;
}

.places {
    width: 80vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30vh 50vh;
    grid-gap: 50px;
    text-align: center;
}

.place-title {
    grid-row: span 1;
    text-align: center;
}

h2 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

p {
    font-family: 'Lato', sans-serif;
}
