.locations {
    text-align: center;
}

img {
    height: 300px;
    width: 500px;
    text-align: center;
}

main {
    background-color: beige;
    width: 800px;
    margin: auto;
    padding: 15px 0px;
    text-align: center;
}