
/* .navigation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-style: bold;
    font-weight: 500;
    display: block;
    color: #FAF9F6;
} */

body {
    background-color:#a28089;
}

nav:hover {
    color: brown;
}
