body {
    background-color: #fbe8ec;
}

main {
    padding: 50px 100px;
}

h1 {
    font-family: cursive;
    font-size: 4em;
    text-align: center;
    /* text-shadow: pink 2px 5px 20px; */
    text-shadow: rgb(183, 110, 121) 2px 5px 10px;
    color: #b11a21;
    word-spacing: 30px;
    letter-spacing: 15px;
    bottom: 10px;
    padding: 0px;
    margin-block-start: 0.8em;
    margin-block-end: .3em;
}

nav {
    font-family: Cambria;
    letter-spacing: .1em;
    font-size: 2em;
    font-style: bold;
    font-weight: bolder;
    inline-size: auto;
    text-align: center;
    border-top: .25em dotted rgb(196, 149, 149);
    border-bottom: .25em dotted rgb(196, 149, 149);
    vertical-align: middle;
    /* background-color: rgb(249, 246, 238); */
    background-color: rgb(255, 245, 238);
}

nav ul,
footer ul {
    margin: 0;
    padding: 12px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(138, 108, 111);
    padding: 15px 20px;
    /* color: rgb(184,144,148); */
    /* color: rgb(92, 3, 40); */
}

nav ul li a:hover {
    color: whitesmoke;
    background-color: #bf5962;
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 18px;
    background-color: #bf5962;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer h4 {
    padding-top: 25px;
}

footer ul {
    padding-top: 5px;
}

.social-media-icons:hover {
    cursor: pointer;
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}