.nav-links {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:navy;
}

h2 {
    text-align: center;
    font-family: cursive;
}

header {
    background-color: darkcyan;
}

footer {
    text-align: right;
}

footer:hover {
    color:green;
}

nav {
    border-bottom: 5px solid transparent;
    border-color: black;
    font-family: monospace;
    font-size: 1.5rem;
    background-color: darkcyan;
    text-align: center;
    
}

nav > ul > li {
    border: 5px solid lightblue;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
}

