body {
    background-color: #fbe8ec;
}

main {
    padding: 50px 100px;
}

h1 {
    display: block;
    font-family: cursive;
    font-size: 4em;
    text-align: center;
    text-shadow: pink 5px 0 10px;
    color: #b11a21;
    word-spacing: 20px;
    letter-spacing: 15px;
    /* margin-bottom: 0px; */
}

nav {
    font-family: Cambria;
    letter-spacing: .1em;
    font-size: 2em;
    font-style: bold;
    font-weight: bolder;
    inline-size: auto;
    text-align: center;
    border-top: .25em dotted rgb(196, 149, 149);
    border-bottom: .25em dotted rgb(196, 149, 149);
    height: 5rem;
    padding-block-start: 0px;
    vertical-align: middle;
    background-color: rgb(249, 246, 238);
}

nav ul, footer ul {
    margin: 0;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav ul li a, footer ul li a {
    text-decoration: none;
    color: rgb(184,144,148);
    /* color: rgb(92, 3, 40); */
}

nav ul li:hover {
    cursor: pointer;
}

nav a:hover {
    /* color: rgb(195, 5, 56); */
    color: tan;
}

footer {
    text-align: center;
    padding-top: 100px;
    font-size: 18px;
}
