body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, white, #F8CE99, #FEC8D8, #CAC198); */
	background-size: 600% 600%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    /* background: pink; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#nav-bar {
    padding: 20px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* border: black 3px solid; */
    font-size: larger;
    border-radius: 15px;
}

#nav-bar a {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 30px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
}

#nav-bar a:hover {
    color:pink;
}

header {
    text-align: center;
    /* background-color: #C6E0E4; */
    width: auto;
}

a {
    text-decoration: none;
}

#title {
    color: #505980;
    text-align: center;
    font-size: 60px;
    /* background-color: #C6E0E4; */
}

.references {
    display: flex;
    align-items: flex end;
    margin: 30px
    padding: 20px
}

.copyright {
    display: flex;
    align-items: flex end;
    margin: 50px;
}
header img {
    text-align: center;
    width: 1000px;
    height: 300px;
    border: solid 5px white;
}

/* main {
    display: grid inline block;
    display: grid;
    grid-template-columns: repeat(3,390px); 
    grid-template-rows: repeat(2,500px); 
    grid-gap:60px 5px;
    justify-content: center;
    align-items: center;
    background-color: #C6E0E4;

} */

/* main section {
    text-align: center;
    border: #B0C6D7 2px solid;
    padding: 40px white solid;
	height: 480px;
	width: 240px;
    background-color: #C6E0E4;
    justify-content: space-around;
    border-style:dashed;
    border-radius: 15px;
    border: 3px dashed lightgray;
    padding: 30px;
    background-color: #EEEEEE;
    opacity: .80;
    } */


.main h3 {
    text-align: center;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: black 3px solid;
    font-size: 40px;
    border-radius: 15px;
    background-color: white;
    opacity: .7;
    color: black;
}

.main {
    margin-left: 100px;
    margin-right: 130px;
}

.location-section, .accomdations-section, .transportation-section, .fun-fact-section{
    color: #5072A7;
    text-align: left;
    justify-content: center;
    display: flex;
    font-size: 25px;
    margin: 50px;
    align-items: center;
    flex-wrap: center;
    text-align: center;
    
}
.attractions-section ul {
    color: #5072A7;
    font-size:14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    width: auto;
    height: auto;
    max-height: 600px;
    list-style-type: none;
    font-size: 25px;
    align-items: center;
    border: pink 2px solid;

}

.attractions-section p {
    grid-column: 1/3;
    grid-row: 1/3;
    /* border: black 2px solid; */
    padding: 5px;
    gap: 5px;
}

.attractions-section li {
    text-align: center;
    margin: 20px;
}


.attractions-section img {
    width: 100%;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    border: black 2px solid;
    padding: 5px;
}

.food-section ul {
        color: #5072A7;
        font-size:14px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        width: auto;
        height: auto;
        max-height: 700px;
        list-style-type: none;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        border: pink 2px solid;
}

.food-section li {
    text-align: center;
    margin: 20px;
}

.food-section img {
    width: 100%;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    border: black 2px solid;
    padding: 5px;
}

.fun-fact-section {
    color: #5072A7;

}

.transportation-section {
    color: #5072A7;
}

.accomdations-section {
    color: #5072A7;
}

