*{
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}

.navbar{
    background-color:sienna;
}

main{
    display: grid;
    grid-template: repeat(4, 25%) / repeat(4, 25%);
    padding: 1%
}

main h1{
    grid-column: 1 / span 4;
    text-align: center;
    background-image: url(../images/pig-pig-pig.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#origin{
    grid-column: 1 / span 4;
}

main section{
    display: grid;
    background-color: cornflowerblue;
    grid-column: span 2;
}