*{
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}

.navbar{
    background-color:sienna;
}

main{
    display: grid;
    grid-template: repeat(4, 25%) / repeat(5, 20%);
    padding: 15px;
}

main h1{
    font-size: 48px;
    grid-column: 1 / span 5;
    text-align: center;
    background-image: url(../images/pig-pig-pig.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#origin{
    grid-column: 1 / span 3;
}

#stone{
    grid-column: 1 / span 3;
}

#stone_image{
    grid-column: span 2;
}


main section{
    display: grid;
    background-color:burlywood;
    grid-column: span 2;
    padding: 15px;
}


p:first-of-type::first-letter{
    font-size: 2em;
}

h2 {
    font-size: larger;
}

img {
    object-fit: contain;
    background-color:burlywood;
    width: 75%;
    height: 75%;
}

p, h2 {
    margin-left: 50px;
}
