h1 {
    text-align: center;
    background-color: aquamarine;
    margin: 0;
    padding: 25px;
}

h2 {
    font-family: "Apple Chancery", cursive;
    font-size: 25px
}

p {
    font-family: "Calibri", sans-serif;
}

.fun-link {
    text-align: left;
    color: #4a956c
}

.fun-link:hover{
    color: #FDB3A4;
    background-color: white;
}
