h1 {
    font-size: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin: 20px;
}


h2 {
    color: rgb(42, 162, 124);
    font-size: 50px;
}

body > header > h1, body > footer > h4 {
    color: rgb(163, 64, 107);
}

* {
    color: slateblue;
}

#abv-mystery:hover {
    color: red;
}

/* ###################### */


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}