@import url('https://fonts.googleapis.com/css2?family=Felt+Marker&display=swap');


body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, .2fr);
  grid-gap: 10px;
  background-image: url("../assets/AwesomeFieriPic.png");
  background-repeat: repeat;
}

.fact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-left: 10rem;
  margin-bottom: 1rem;
}

.fact-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


#facts-h1 {
  font-family: 'Marker Felt', cursive;
  font-size: 4rem;
  text-underline-position: under;
  color: red;
  background-color: white;
  position: fixed;
  padding: 1rem;
}

.link {
  font-family: 'Marker Felt', cursive;
  display: inline;
  padding: .4rem;
  font-size:1.9rem;
  margin-left: .5rem;

  background-color: yellow;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 0;
}

.link:nth-child(1) {
  left: 5rem;
}

.link:nth-child(2) {
  left: 20rem;
}

  .link:hover {
    background-color: #FF0000; 
  }

.facts-section {
  border: 10px solid #bb3e03;
  padding: 30px;
  text-align: left;
}

body em {
  margin-top: 9rem;
  padding: 10px;
  font-size: 2.2rem;
  color: red;
  text-decoration: underline;
  font-weight: bold;
  position: fixed;
  background-color: white;
  padding-right: 9.65rem;
}

.fact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
  }
   
  .fact-item p {
    margin-top: 0.5rem;
    border: 2px solid #bb3e03;
  }
  
footer {
  opacity: 0;
  transition: opacity 0.3s ease;
}

body:after {
  content: '';
  display: block;
  height: 100px; 
}

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bb3e03;
    padding: 10px;
    color: white;
    opacity: .85;
  }
  
  footer p { 
     margin: 5px 0; 
  }

  #nav-buttons{
    position: fixed;
  }
