main{
    display: grid;
    grid-template: repeat(4, 25%) / repeat(4, 25%);
    padding: 1%
}

main h1{
    grid-column: 1 / span 4;
    text-align: center;
}

#origin{
    grid-column: 1 / span 4;
}

main section{
    display: grid;
    background-color: cornflowerblue;
    grid-column: span 2;
}