
.navbar {
    background-color: rgb(226, 203, 201);
    padding-top: 30px;
    background-size: cover;
}

.navbar li, .navbar a {
    color: rgb(189, 30, 2);
    font-size: medium;
    font-weight: bold;
    line-height:2.5em;
}

.navbar a:hover {
    color: 	rgb(92, 64, 51);
}

.continer {
    display:flex;
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80");
    background-size: cover;
    flex-wrap: wrap;
    margin-left: 152px;
    align-items: center;
    justify-content: space-around;
}

header{
    display: flex;
    align-items:center;
    padding: 17px;
    width: 100%;
    margin-left:140px;
}
h1{
    color:rgb(133, 3, 3);
    font-size: 3.3em;
    border-bottom: 0;
    margin-bottom: 1%;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    font-family: fantasy;
    color:rgb(189, 24, 2);
}


p {
    margin-top: 105px;
    margin-left: 70px;
    color:rgb(244, 236, 236);
    font-size: large;
    font-weight: bold;
    writing-mode:vertical-lr;
    text-orientation: upright;
    text-align: center;
    white-space: nowrap; 
    font-family: cursive;
    border: 2px solid rgb(120, 1, 1);
    height: 330px;
    background-color:rgb(165, 42, 42);
}
#kobab-title{
    margin-top: 130px;
    height: 200px;
}

#kobab-line{
    display: flex;
}

#kalua-line{
    display: flex;
}

#dongpo-line{
    display: flex;
}

img {
    max-width: 22%;
    height: auto;
    margin-right: 100px;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

footer{
    color: rgb(166, 4, 4);
    position:relative;
    font-size: large;
}
