* {
    box-sizing: border-box;
}

/* PUT IN STYLE.CSS */
/* header {
    text-align: center;
} */

/* h1 {
    font-family: 'Permanent Marker', cursive;
    color: deeppink;
    /* font-size: 70px; 
    margin: 0px;
} */

h1:hover {
    color: coral;
}

nav {
    position: relative;
    bottom: 35px;
    min-width: 50vw;
    font-size: 1.1vw;
    text-align: center;
}

nav > ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
}

nav > ul > li {
    display: inline;
    padding: 15px 0 10px 0;
    margin: 10px;
}

nav > ul > li > a {
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #f0cf48;
    font-size: 17px;
    padding: 5px;
}

nav > ul > li > a:hover {
    color: #eb5a68;
}

main {
    background-color: #60c7c9;
    margin: 0px 50px 0 50px;
    border-radius: 25px;
}

main > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

main > ul > li {
    /* margin: 40px 0px 0 0; */
    padding: 20px 20px 20px 0;
}

.taco-images {
    height: 250px;
    max-width: 100%;
    display: block;
    border-radius: 20px;
    /* transition: 0.5s; */
}

/* .taco-images:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
} */

.gallery-container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #eb5a68;
    border-radius: 20px;
}

.gallery-container:hover .overlay {
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: white;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}