* {
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(252, 226, 217);
    padding-top: 30px;
}

.navbar a {
    color: rgb(189, 30, 2);
    font-size: medium;
    font-weight: bold;
    line-height:2.5em;
}

.navbar a:hover {
    color: 	rgb(92, 64, 51);
}

nav li {
    list-style-type: none;
}

header{
    display: flex;
    margin-left: 160px;
    position:fixed;
    top:0;
    align-items: center;
    justify-content: center;
    color:rgb(102, 2, 2);
    font-weight: bold;
    width: 100%;
}
h1{
    font-size: 3.3em;
    border-bottom: 0;
    margin-bottom:1%

}

h2 {
    font-size: 1em;
}


p {
    margin-top: 100px;
    margin-left: 70px;
    color:rgb(244, 236, 236);
    font-size: large;
    font-weight: bold;
    writing-mode:vertical-lr;
    text-orientation: upright;
    white-space: nowrap; 
    font-size: large;
    font-family: cursive;
    border: 1px solid rgb(161, 1, 1);
    height: 330px;
    text-align: center;
    background-color:rgb(165, 42, 42);

}

#kobab-line{
    display: flex;
}

#kalua-line{
    display: flex;
}

#dongpo-line{
    display: flex;
}

main {
    margin-left: 160px;
    margin-top: 150px;
    font-size: 30px;
    padding: 0px 10px;
}

img {
    max-width: 22%;
    height: auto;
    margin-right: 100px;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

footer{
    color: rgb(166, 4, 4);
    position:relative
}
