.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h4 {
    font-style: italic;
}

header {
    border: 5px purple solid;
}

.page-title {
    background-color: thistle;
    color: white;
}

