
/* Images */
.accent_img {
  width: 30vw;
  min-width: 380px;
  border-radius: 10px;
  filter: contrast(1.2);
  margin-bottom: auto;
}

.mobile_accent_img {
  display: none;
  filter: contrast(1.2);
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .mobile_accent_img {
    display: block;
    margin: 0 auto;
  }
  .accent_img {
    display: none;
  }
}