nav ul li a:link,
nav ul li a:visited {
    color: #645c9f;
}

nav ul li a:hover,
nav ul li a:active {
    color: #fff;
}

nav ul li a.visit {
    background-color: #2911db;
    color: #fff;
}
h1 {
    font-size: 2em;
    color: #341948;
    text-align: center;
    margin: 0;
    padding: 0;
}
    
h2 {
    font-size: 1.5em;
    color: #645c9f;
    text-align: center;
}
    
    footer {
    text-align: center;
}

    main p {
    text-align: center;
} 