header {
    border: 1px; 
    background-color: bisque;
}


footer{
    font-size: 14px;
    text-align: right;
    border: 1px; 
    background-color: bisque; 
}

nav {
    display : grid;
    justify-content: center;
} 

h1 {
    font-family: "Bradley Hand";
}

body {
    background-color: #aa856b;
}


/* Add spacing between the navigation links */
#navlinks a{
    margin-right: 1rem;
}