body {
    background-color: #fffde0;
    font-family: georgia;
}

footer {
    text-align: center;
}

header {
    text-align: center;
    border-style: dotted;
}

img {
    width: 30%;
    height: auto;
    display: inline-block;
}

nav ul li a:link,
nav ul li a:visited {
    color: #645c9f;
}

nav ul li a:hover,
nav ul li a:active {
    color: #fff;
}

nav ul li a.visit {
    background-color: #2911db;
    color: #fff;
}

#navlinks li {
    display: inline;
    padding: 2.5em;
} 
